@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --btn-color: #d99655;
  --desc-text: #504c48;
  --shopping-cart-bck: #fff0e3;
  --border-color: #504c48;
  --footer-color: #1e1c1a;
  --footer-white: #fffdf9;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

/* body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
} */
